@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .benefits {
        padding-top: 80px;

        @include media('mobile') {
            padding-top: 40px;
        }

        &__items {
            padding-bottom: 128px;
            gap: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow-x: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }

            @include media('mobile') {
                padding-bottom: 60px;
                align-items: stretch;
            }
        }

        &__item {
            max-width: 224px;
            padding: 28px 28px 40px 28px;
            border-radius: 184px;
            background: rgba(25, 25, 25, 0.03);

            @include media('mobile') {
                padding: 12px 12px 24px 12px;
            }

            &:nth-child(2n) {
                transform: translateY(30px);

                @include media('mobile') {
                    transform: translateY(0);
                }
            }

            &-ico {
                margin-bottom: 24px;
                display: flex;
                justify-content: center;
                border-radius: 184px;
                padding: 78px 46px;
                background: linear-gradient(180deg, #e88a90 0%, #d70c18 100%);

                @include media('mobile') {
                    margin-bottom: 12px;
                    padding: 34px 22px 42px;
                }
            }

            &-text {
                font: 500 20px / 100% var(--ff-base);
                letter-spacing: -1px;
                text-align: center;

                @include media('mobile') {
                    font-size: 16px;
                    max-width: 128px;
                }
            }
        }

        lottie-player {
            width: 96px;
            height: 96px;
            display: flex;
            flex-shrink: 0;
            color: var(--white);

            @include media('mobile') {
                width: 80px;
                height: 80px;
            }
        }
    }
}
