@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .catalog {
        position: relative;
        margin-bottom: 160px;

        @include media('tablet') {
            margin-bottom: 100px;
        }

        @include media('mobile') {
            margin-bottom: 68px;
        }

        &__title {
            font: 500 172px / 100% var(--ff-base);
            text-transform: uppercase;
            letter-spacing: -1px;
            position: absolute;
            left: 50%;
            text-align: center;
            top: 0;
            width: 100%;
            transform: translateX(-50%);
            background: linear-gradient(
                180deg,
                rgba(25, 25, 25, 0.12) 14.64%,
                rgba(25, 25, 25, 0.08) 57.5%,
                rgba(25, 25, 25, 0.01) 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @include media('desktop') {
                font-size: 130px;
            }

            @include media('tablet') {
                font-size: 80px;
            }

            @include media('mobile') {
                font-size: 44px;
            }
        }

        &__cards {
            padding-top: 85px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 23px;

            @include media('mobile') {
                padding-top: 30px;
            }
        }

        &__card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            position: relative;

            @include media('desktop') {
                padding: 25px;
            }

            @include media('mobile') {
                padding: 0 20px 24px;
            }

            &:has(.catalog__card-btn:hover) {
                .catalog__card-thumb {
                    transform: translateY(-15px);
                }
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                width: 100%;
                height: 365px;
                border-radius: 16px;
                background: var(--white);

                @include media('mobile') {
                    border-radius: 16px;
                    height: 243px;
                }
            }

            &-thumb {
                width: 428px;
                height: 391px;
                @include transitions(0.3s);
                @include media('mobile') {
                    width: 289px;
                    height: 265px;
                    margin-bottom: 5px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-notfound {
                font: 400 14px / 100% var(--ff-base);
                text-transform: uppercase;
                letter-spacing: -1px;
                position: absolute;
                bottom: 150px;
                padding: 9px 12px;
                margin-bottom: 16px;
                border-radius: 24px;
                background: #d70c181a;
                color: var(--accent-red);

                @include media('mobile') {
                    bottom: 100px;
                    padding: 5px 12px;
                    font-size: 13px;
                }
            }

            &-title {
                font: 500 24px / 100% var(--ff-base);
                text-align: center;
                letter-spacing: -1px;
                margin-bottom: 36px;

                @include media('mobile') {
                    font-size: 18px;
                    margin-bottom: 16px;
                    max-width: 98%;
                }
            }

            &-btn {
                font: 400 16px / 100% var(--ff-base);
                text-transform: uppercase;
                padding: 17px;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                margin: 0 auto;
                color: inherit;
                width: 100%;
                max-width: 438px;
                border: 1px solid var(--accent-red);
                @include transitions(0.3s);

                span:nth-last-child(2) {
                    display: inline-flex;
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background: var(--accent-red);
                    @include transitions(0.3s);
                }

                @include hover {
                    color: var(--white);
                    background: var(--accent-red);

                    span:nth-last-child(2) {
                        background: var(--white);
                    }
                }

                @include media('mobile') {
                    font-size: 14px;
                    width: 100%;
                    max-width: 100%;
                    padding: 16px;
                }
            }
        }
    }
}
