@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--home {
    .future {
        min-height: calc(100vh - 120px);
        min-height: calc(100dvh - 120px);
        position: relative;
        padding-bottom: 83px;
        margin-bottom: 160px;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                #f5f7f9 0%,
                rgba(245, 247, 249, 0.8) 12.05%,
                rgba(245, 247, 249, 0.8) 87.86%,
                #f5f7f9 100%
            );
        }

        @include media('tablet') {
            margin-bottom: 100px;
        }

        @include media('mobile') {
            margin-bottom: 68px;
        }

        &__video {
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
            object-fit: cover;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        &__about {
            max-width: 1200px;
            margin: 0 auto 99px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            text-align: center;

            @include media('mobile') {
                gap: 12px;
                margin: 0 auto 60px;
            }
        }

        &__title {
            font: 400 64px / 100% var(--ff-base);
            letter-spacing: -1px;

            span {
                color: var(--accent-red);
            }

            @include media('tablet') {
                font-size: 48px;
            }

            @include media('mobile') {
                font-size: 24px;
            }
        }

        &__subtitle {
            font: 400 24px / 140% var(--ff-base);

            @include media('tablet') {
                font-size: 20px;
            }

            @include media('mobile') {
                font-size: 18px;
                margin-bottom: 8px;
            }
        }

        &__btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            @include media('mobile') {
                flex-direction: column;
                gap: 20px;
            }

            &-btn {
                font: 400 16px / 100% var(--ff-base);
                text-transform: uppercase;
                padding: 22px 40px;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                background-color: var(--accent-red);
                color: var(--white);
                border: 1px solid var(--accent-red);
                @include transitions(0.3s);

                span:nth-last-child(2) {
                    display: inline-flex;
                    width: 12px;
                    height: 12px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    background: var(--white);
                    @include transitions(0.3s);
                }

                @include hover {
                    color: var(--accent-red);
                    background: transparent;

                    span:nth-last-child(2) {
                        background: var(--accent-red);
                    }
                }

                @include media('mobile') {
                    padding: 13px;
                    width: 100%;
                    font-size: 13px;
                    max-width: 100%;
                    gap: 12px;
                }
            }

            &-link {
                display: inline-flex;
                align-items: center;
                gap: 12px;

                @include hover {
                    span {
                        &:first-child {
                            color: var(--accent-red);
                        }
                        &:last-child {
                            transform: translateX(3px);
                        }
                    }
                }

                span {
                    &:first-child {
                        font: 300 16px / 100% var(--ff-base);
                        text-transform: uppercase;
                        @include transitions(0.3s);
                        @include media('mobile') {
                            font-size: 14px;
                        }
                    }

                    &:last-child {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: var(--accent-red);
                        color: var(--white);
                        @include transitions(0.3s);

                        svg {
                            margin-left: 1px;
                        }
                    }
                }
            }
        }

        &__product {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;

            @include media('mobile') {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 11px;
            }

            &-pic {
                max-width: 789px;
                @include media('mobile') {
                    grid-column: span 2;
                }

                img {
                    width: 100%;
                }
            }

            &-hand {
                &.hand--left,
                &.hand--right {
                    @include media('mobile') {
                        order: 2;
                    }
                }
            }
        }
    }
}
