@use '../base/media' as *;
@use '../base/mixins' as *;

.breadcrumbs {
    margin-top: 92px;
    padding-block: 16px;
    margin-bottom: 48px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.1);

    @include media('mobile') {
        margin-bottom: 24px;
        padding-block: 8px;
    }

    &__items {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__item {
        font: 300 14px / 100% var(--ff-base);

        &:last-of-type {
            opacity: 0.4;
        }
    }

    &__deco {
        display: inline-flex;
        flex-shrink: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 2px solid var(--accent-red);
    }
}
