@use '../../base/media' as *;
@use '../../base/mixins' as *;

.main--location {
    .location {
        &__title {
            margin-bottom: 32px;

            @include media('mobile') {
                margin-bottom: 24px;
            }
        }

        &__filter {
            margin-bottom: 36px;
            display: flex;
            gap: 12px;
            align-items: center;

            @include media('mobile') {
                margin-bottom: 24px;
                width: 100%;
                overflow: scroll;
                scroll-behavior: smooth;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &-btn {
                font: 300 16px / 100% var(--ff-base);
                padding: 9px 15px;
                border-radius: 44px;
                border: 2px solid #dfe1e3;
                color: inherit;
                &.active {
                    border-color: var(--accent-red);

                    @include hover {
                        border-color: var(--accent-red);
                    }
                }
                @include transitions(0.3s);
                @include hover {
                    border-color: var(--grey);
                }
                @include media('mobile') {
                    flex: 1;
                    font-size: 14px;
                    min-width: max-content;
                }
            }
        }

        &__map {
            margin-bottom: 160px;
            padding: 24px;
            border-radius: 24px;
            position: relative;
            background: var(--white);
            @include media('desktop') {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

            @include media('tablet') {
                margin-bottom: 100px;
            }

            @include media('mobile') {
                margin-bottom: 68px;
                padding: 12px;
                border-radius: 8px;
            }

            &-item {
                width: 100%;
                height: 632px;
                object-fit: cover;

                @include media('tablet') {
                    height: 550px;
                }

                @include media('mobile') {
                    height: 350px;
                }
            }

            &-inner {
                z-index: 1000;
                border-radius: 24px;
                overflow: hidden;
                position: absolute;
                left: 56px;
                top: 50%;
                transform: translateY(-50%);
                max-width: 412px;
                width: 100%;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    background: linear-gradient(
                        180deg,
                        rgba(255, 255, 255, 0) 0%,
                        #ffffff 100%
                    );
                    width: 100%;
                    height: 100%;
                    height: 200px;
                    pointer-events: none;
                    @include transitions(0.3s);
                    @include media('desktop') {
                        height: 70px;
                    }
                }

                &:has(.location__map-box.end) {
                    &::after {
                        opacity: 0;
                        visibility: hidden;
                    }
                }

                @include media('desktop') {
                    border-radius: 0;
                    position: relative;
                    left: auto;
                    top: auto;
                    transform: translateY(0);
                    max-width: 100%;
                }
            }

            &-box {
                max-height: 568px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                padding: 32px 48px 0 32px;
                box-shadow: 0px 12px 24px 0px #0000001f;
                background: var(--white);

                @include media('desktop') {
                    padding: 0;
                    max-height: 200px;
                }
            }

            &-nearest {
                font: 300 16px / 100% var(--ff-base);
                z-index: 1001;
                position: absolute;
                right: 64px;
                bottom: 64px;
                padding: 10px 14px;
                border-radius: 28px;
                align-items: center;
                gap: 8px;
                color: inherit;
                border: 2px solid var(--accent-red);
                background: var(--white);

                svg {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    flex-shrink: 0;
                    color: var(--accent-red);

                    @include media('mobile') {
                        width: 16px;
                        height: 16px;
                    }
                }

                @include media('desktop') {
                    bottom: auto;
                    top: 64px;
                }

                @include media('tablet') {
                    top: 32px;
                    right: 32px;
                }

                @include media('mobile') {
                    top: 14px;
                    right: 14px;
                    padding: 6px 10px;
                    font-size: 14px;
                }
            }
        }

        .box-item {
            padding-bottom: 20px;
            flex-direction: column;
            align-items: flex-start;
            border-bottom: 1px solid var(--light-grey);

            @include media('mobile') {
                padding-bottom: 14px;
            }

            &.active {
                .box-item__title {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &__title {
                font: 500 20px / 100% var(--ff-base);
                letter-spacing: -1px;
                margin-bottom: 12px;
                position: relative;
                color: var(--accent-red);
                @include transitions(0.3s);

                @include media('mobile') {
                    font-size: 18px;
                    margin-bottom: 8px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -3px;
                    width: 0;
                    height: 1px;
                    background: var(--accent-red);
                    @include transitions(0.3s);
                }
            }

            &__row {
                &:nth-of-type(1) {
                    p {
                        font-weight: 500;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 12px;

                    @include media('mobile') {
                        margin-bottom: 8px;
                    }
                }

                display: flex;
                align-items: center;
                gap: 16px;

                @include media('mobile') {
                    gap: 8px;
                }

                img {
                    width: 24px;
                    height: 24px;
                    display: inline-flex;
                    flex-shrink: 0;

                    @include media('mobile') {
                        width: 18px;
                        height: 18px;
                    }
                }
            }

            &__text {
                font: 300 16px / 100% var(--ff-base);
                letter-spacing: -1px;

                @include media('mobile') {
                    font-size: 14px;
                }
            }
        }

        .leaflet-control-attribution.leaflet-control {
            display: none;
        }

        .leaflet-control {
            margin: 0 !important;

            a {
                line-height: 26px !important;
                @include transitions(0.3s);
            }
        }

        .leaflet-touch .leaflet-bar {
            border-width: 1px !important;
            overflow: hidden;
            border-color: var(--accent-red) !important;
        }

        .leaflet-top.leaflet-left {
            left: auto;
            right: 12px;
            top: 12px;

            @include media('desktop') {
                top: auto;
                bottom: 12px;
            }
        }

        .leaflet-popup {
            bottom: 6px !important;
        }

        .leaflet-popup-close-button span {
            width: 100%;
            height: 100%;
        }
    }
}
